.container {
    width: 96%;
    margin: 50px 0;
}
.card {
    margin: 0 2% !important;
}
  
.infected {
    border-bottom: 10px solid rgba(231, 76, 60, 0.5);
}
  
.recovered {
    border-bottom: 10px solid rgba(0, 255, 0, 0.5);
}
  
.deaths {
    border-bottom: 10px solid rgba(0,0 ,255 , 0.5);
}

@media(max-width:700px){
    .card{
        margin: 8px !important;
    }
    .container {
        margin: 30px 2px;
    }
}
